@import "../variables.css";

.footerContainer {
  background-color: #015249;
  color: #efefef;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8vmin;
}

@media (max-width: 480px) {
  .footerContainer {
    font-size: 4vmin;
  }
}
