@import "../variables.css";

.headerContainer {
  background-color: #ff3b3f;
  color: #efefef;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 5;
}

.logoContainer {
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logoContainer img {
  height: 15vh;
  margin-left: 10px;
}

#pageName {
  font-family: "Comforter", cursive;
  font-size: 5vmin;
}

.headerContainer a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  width: 50vw;
}

.navList {
  list-style-type: none;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

.listItem {
  font-size: 4vmin;
}

.menu {
  display: none;
}

.menuLine {
  width: 5vmax;
  height: 0.8vmax;
  background-color: #efefef;
  border-radius: 10px;
}

.mainContainer {
  min-height: 75vh;
  background-color: #efefef;
}

a {
  text-decoration: none;
  color: #efefef;
}

@media (max-width: 767px) {
  .headerContainer {
    flex-direction: column;
    height: 8vh;
  }

  .logoContainer {
    height: 8vh;
  }

  .logoContainer img {
    height: 8vh;
  }

  .navList {
    display: flex;
    flex-direction: column;
    height: 92vh;
    justify-content: flex-start;
    display: none;
    position: absolute;
    right: 0px;
    background-color: #ff3b3f;
    top: 8vh;
    margin-right: 0;
    padding-top: 5vh;
  }

  .listItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 4vmin;
  }

  .listItem:hover,
  .listItem:active {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    width: 50%;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 0px;
    /* margin: auto; */
    height: 8vh;
    width: 10vw;
    align-items: center;
    gap: 0.8vh;
  }

  .mainContainer {
    min-height: 82vh;
  }

  .active {
    display: flex;
  }
}

@media (max-width: 480px) {
  #pageName {
    font-size: 4vmax;
  }

  .navList {
    width: 100vw;
  }

  .listItem {
    font-size: 4vmax;
  }
}
