* {
    margin: 0px;
}

.navegacaoFilmes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    background-color: #dcd4ce;   
}

.navegacaoItem {
    padding: 12px 14px;
    width: 100px;
    text-align: center;
    color: black;
    font-weight: bold;
    text-shadow: #474141;
    text-decoration:none;
    font-weight:500;
} 

.navegacaoItem:hover {
     background-color: #000000ef;
     color: #dcd4ce; 
 }

#imagemFilmes{
    width: 100%;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.filtrosConteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6px;
    margin:10px auto;
    max-width: 1000px;   
}

.filtroConteinerIndividual {
    padding: 8px ;
}

.filtrosConteiner {
    margin:0 auto;
    padding:0;
    }

.filtroItem {
    background: #dcd4ce;
    padding: 10px 2px;
    border-radius: 15px; 
    border-style: 2px solid ;
    border-color:rgba(0,0,0,0.6);
    width:100%;
    font-size:14px;
    text-align:center;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.8rem);
}

.filtroItem:focus{
    outline: none; 
}

.filtroItem:focus::placeholder{
    visibility: hidden;
}

.filtroItem {
    padding: 7px 2px;
    width:100%;
    font-size: 18px;
    text-align:center;
   }

#recarregar{
    width: 108%;
    height:38px;
    font-size: 18px;
    text-align: center;
    border-radius: 15px;
    background-color: #dcd4ce;
    color: rgb(0, 0, 0); 
    cursor: pointer;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.8rem);
 }

 #recarregar:hover {
     background-color: black;
     color: #dcd4ce;   
 }

 #pesquisaConteiner {
    width:100%;
    margin-bottom: 10px;
  }
  
  #ordenacaoAlfabetica {
   width:20%;
  }
  
  #ordenacaoPopularidade{
   width:20%;
  }
  
  #filtroDiretor{
   width:20%;
  }

  #filtroLancamento{
    width:20%;
   }

   #footer { position: fixed;
    bottom: 0px;
    font-size: 20px;
    width: 100%;
    margin: 0px;
    background-color: #dcd4ce;}