@import "../reset.css";
@import "../components/header.css";
@import "../components/footer.css";

.mainContainer {
  min-height: 75vh;
  background-color: #efefef;
  width: 100%;
  padding: 30px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputs {
  border: none;
  background: #ffffff;
  border-radius: 10px;
  height: 38px;
  padding-left: 15px;
}

.cardsContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardsContainer .cards:nth-child(n) {
  margin: 10px auto;
}

.cards {
  position: relative;
  background-color: #caebf2;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 16px;
}

.poster {
  height: 150px;
  /* width: 80px; */
  border-radius: 10px;
}
.divTitle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
  width: 100%;
  bottom: 0;
  background: rgba(196, 196, 196, 0.47);
  border-radius: 0px 0px 13.8889px 13.8889px;
}
.titleWithinCard {
  position: absolute;
  font-size: 100%;
  font-family: Montserrat;
  text-align: center;
}

@media (max-width: 767px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .mainContainer {
    min-height: 82vh;
  }
}
@media (max-width: 480px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
