@charset "utf-8";
@import url("variables.css");

.show-the-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: var(--beige);
}

.card {
  position: relative;
  padding: 20px;
}

.card-box {
  position: absolute;
  bottom: 94px;
  left: 37px;
  height: 237px;
  width: 181px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  font-family: "Segoe UI", Helvetica, Arial, Verdana;
  overflow-y: scroll;
}

.pokedex-close {
  position: relative;
}

.box-poke-img {
  display: flex;
  place-content: center;
  height: 94px;
}

.poke-img {
  width: 90px;
  height: 90px;
}

.box-poke-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22px 42px minmax(70px, 1fr);
  align-items: start;
  row-gap: 4px;
}

.poke-items {
  grid-column: 1/3;
}

.poke-items li {
  display: inline-block;
  padding: 1.5px 7px;
  margin: 2px;
  margin-left: 0px;
  background-color: var(--bug);
  border-radius: 10px;
  font-size: 1rem;
}

.poke-item-title {
  font-weight: 600;
}

.poke-title {
  font-weight: 600;
  font-size: 1.2rem;
}

.poke-number {
  font-size: 0.875rem;
  font-weight: 600;
  position: absolute;
  bottom: 358px;
  left: 168px;
  background-color: rgba(0, 255, 48, 0.8);
  width: 55px;
  text-align: center;
  padding: 3px;
  border: 1px solid #a10909;
  border-radius: 4px;
}

.card-box::-webkit-scrollbar {
  width: 10px;
}

.card-box::-webkit-scrollbar-track {
  background: var(--beige);
}

.card-box::-webkit-scrollbar-thumb {
  background-color: var(--medium-beige);
  border-radius: 5px;
  border: 3px solid var(--beige);
}

.card-box {
  scrollbar-width: thin;
  scrollbar-color: var(--medium-beige) var(--beige);
}
