@charset "utf-8";

.checkbox {
  appearance: none;
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #e9a588;
  border-radius: 2px;
  box-shadow: var(--shadown-drop-weak);
}

.checkbox:before {
  content: "";
  opacity: 0;
  transition: all 600ms ease-in-out;
  border-radius: 0;
  background: transparent;
  border: 4px solid #471f1f;
  border-left: 0;
  border-top: 0;
  width: 7px;
  height: 17px;
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  left: 7px;
}

.checkbox:checked:before {
  opacity: 1;
}

.checkbox:focus {
  background-color: rgb(245, 130, 46);
}
