@charset "utf-8";

:root {
  --bug: rgb(158, 191, 63);
  --dark: rgb(93, 96, 109);
  --dragon: rgb(21, 116, 196);
  --electric: rgb(238, 212, 79);
  --fairy: rgb(237, 153, 229);
  --fight: rgb(215, 68, 86);
  --fire: rgb(224, 164, 86);
  --flying: rgb(156, 180, 230);
  --ghost: rgb(107, 114, 196);
  --grass: rgb(98, 190, 101);
  --ground: rgb(214, 133, 91);
  --ice: rgb(129, 212, 201);
  --normal: rgb(154, 158, 163);
  --poison: rgb(180, 103, 202);
  --psychic: rgb(247, 124, 124);
  --rock: rgb(205, 192, 144);
  --stell: rgb(89, 150, 163);
  --water: rgb(88, 159, 222);
}
