@charset "utf-8";
@import url("variables.css");

.filters {
  font-family: "Segoe UI", Helvetica, Arial, Verdana;
  background-color: #bfb63b;
  color: #471f1f;
}

.header-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #471f1f;
}

.main-filters {
  background-color: #ffdbac;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.title {
  font-weight: bold;
}

.by-name {
  padding-bottom: 10px;
}

.input-name {
  background-color: #e9a588;
  border: 3px inset #e9a588;
  border-radius: 10px;
  color: #471f1f;
  width: 315px;
}

.input-name::placeholder {
  display: inline;
  color: #5a3b3b;
  font-size: 1.2em;
}

.checkbox-title {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 5px;
}

.specify-weaknesses {
  margin-left: 35px;
}

.container-checkboxes {
  height: 220px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.checkbox {
  margin-right: 70px;
  height: 20px;
  width: 20px;
  float: right;
}

.confirm-button {
  font-size: 2rem;
  color: #fff0dd;
  float: right;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #1dc780;
  margin-right: 10px;
  border: none;
  transition: width 1s;
}

.confirm-button:hover {
  content: "";
  background-color: #1da56c;
  width: 300px;
}

.confirm-button:hover:after {
  content: "  Filtrar";
  font-weight: bold;
  font-size: 2rem;
}

.results-order {
  visibility: visible;
}

.results {
  font-weight: bold;
}

.quantify {
  padding: 10px 0px 10px 0px;
}

.order-calculation {
  background-color: #e9a588;
  border-radius: 10px;
  margin: 0px 10px 10px 0px;
}

.order-calculation:hover {
  background-color: #a96f57;
}

.back-button {
  font-size: 2.5rem;
  color: #fff0dd;
  float: right;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #713e03;
  margin-right: 10px;
  border: none;
  transition: width 1s;
  margin-bottom: 10px;
}

.back-button:hover {
  background-color: #471f1f;
  width: 450px;
}

.back-button:hover:after {
  content: "  Voltar para Filtragem";
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (min-height: 300px) and (orientation: portrait) {
  .logo-onpokemon {
    width: 250px;
    height: 30px;
    padding: 10px 0px;
  }

  .title {
    font-size: 1.1rem;
    padding-top: 15px;
  }

  .by-name {
    font-size: 1rem;
    padding-top: 10px;
  }

  .input-name {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 25px;
    width: 250px;
  }

  .name {
    font-size: 1.1rem;
    padding-bottom: 4px;
  }

  .container-checkboxes {
    flex-wrap: nowrap;
    height: auto;
  }

  .checkbox-title {
    font-size: 1rem;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .specify-type {
    margin-left: 105px;
  }

  .checkbox {
    height: 16px;
    width: 16px;
  }

  .confirm-button {
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }

  .confirm-button:hover {
    width: 280px;
  }

  .results {
    font-size: 1.1rem;
    padding-top: 15px;
  }

  .order-calculation {
    font-size: 1rem;
    width: 280px;
    height: 30px;
  }

  .back-button {
    width: 50px;
    height: 50px;
  }

  .back-button:hover {
    background-color: #471f1f;
    width: 280px;
  }
}

.back-button:hover:after {
  font-size: 1rem;
}

@media screen and (min-height: 960px) and (orientation: portrait) {
  .logo-onpokemon {
    width: 406px;
    height: 50px;
    padding: 30px 0px;
  }

  .title {
    font-size: 1.5rem;
    padding-top: 40px;
  }

  .by-name {
    font-size: 1.5rem;
    padding-top: 30px;
  }

  .input-name {
    font-size: 1.3rem;
    padding: 10px;
    margin-bottom: 30px;
    width: 320px;
  }

  .name {
    font-size: 1.3rem;
    padding-bottom: 10px;
  }

  .checkbox-title {
    font-size: 1.3rem;
    padding-bottom: 5px;
  }

  .specify-type {
    margin-left: 215px;
  }

  .container-checkboxes {
    height: 350px;
    flex-wrap: wrap;
  }

  .checkbox {
    height: 20px;
    width: 20px;
  }

  .results {
    font-size: 1.5rem;
    padding-top: 15px;
  }

  .order-calculation {
    font-size: 1.3rem;
    width: 300px;
    height: 30px;
  }
}

@media screen and (min-height: 360px) and (orientation: landscape) {
  .header-filters {
    padding: 10px;
  }

  .logo-onpokemon {
    width: 337px;
    height: 40px;
    padding: 10px 0px;
  }

  .title {
    font-size: 1.3rem;
    padding-top: 20px;
  }

  .by-name {
    font-size: 1.3rem;
    padding-top: 10px;
  }

  .input-name {
    font-size: 1.1rem;
    padding: 8px;
    margin-bottom: 10px;
  }

  .checkbox-title {
    font-size: 1rem;
    padding-bottom: 5px;
  }

  .specify-type {
    margin-left: 123px;
  }

  .name {
    font-size: 1.1rem;
    padding-bottom: 8px;
  }

  .container-checkboxes {
    height: 320px;
  }

  .results {
    font-size: 1.3rem;
    padding-top: 15px;
  }

  .quantify {
    font-size: 1rem;
  }

  .order-calculation {
    font-size: 1.1rem;
    padding: 8px;
    width: 255px;
  }
}

@media screen and (min-height: 600px) and (orientation: landscape) {
  .header-filters {
    padding: 15px;
  }

  .logo-onpokemon {
    width: 406px;
    height: 50px;
    padding: 20px 0px;
  }

  .title {
    font-size: 1.4rem;
    padding-top: 30px;
  }

  .by-name {
    font-size: 1.4rem;
    padding-top: 20px;
  }

  .input-name {
    font-size: 1.2rem;
    padding: 9px;
    margin-bottom: 20px;
  }

  .specify-type {
    margin-left: 155px;
  }

  .container-checkboxes {
    height: 220px;
  }

  .name {
    font-size: 1.2rem;
    padding-bottom: 9px;
  }

  .results {
    font-size: 1.4rem;
  }

  .quantify {
    font-size: 1.1rem;
  }

  .order-calculation {
    font-size: 1.2rem;
    padding: 9px;
    width: 400px;
  }
}

@media screen and (min-height: 720px) and (orientation: landscape) {
  .filters {
    margin: auto auto;
  }

  .header-filters {
    padding: 20px;
  }

  .logo-onpokemon {
    width: 406px;
    height: 50px;
    padding: 30px 0px;
  }

  .title {
    font-size: 1.5rem;
    padding-top: 40px;
  }

  .by-name {
    font-size: 1.5rem;
    padding-top: 30px;
  }

  .input-name {
    font-size: 1.3rem;
    padding: 10px;
    margin-bottom: 30px;
  }

  .specify-type {
    margin-left: 155px;
  }

  .name {
    font-size: 1.3rem;
    padding-bottom: 10px;
  }

  .results {
    font-size: 1.5rem;
  }

  .quantify {
    font-size: 1.2rem;
  }

  .order-calculation {
    font-size: 1.3rem;
    padding: 10px;
  }
}
