body{
  font-family: "Montserrat", sans-serif;
  
}

.img-logo{
  width: 60%;
  margin-left: 30%;
}

.caixa-cabecalho{
  width: 100%;
  height: 80%;
  background-color: #454259;
  display: flex;
  flex-direction: row;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  margin: 0 auto;

}

.menu-nav ul li {
  display: inline;
  padding: 30px;
}

.menu-nav a{
  text-decoration: none; 
  font-size: 22px;
  color: #B3C235;
  
}

.menu-nav a:hover{
  text-decoration: underline;
  color: white;
}

