@charset "utf-8";
@import url("reset.css");
@import url("tab-information.css");

/* width: 360px height: 640px */
.body-home {
  background-color: #bfb63b;
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Helvetica, Arial, Verdana;
}

.container-general {
  max-width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1fr);
  justify-content: center;
  justify-items: center;
}

.container-pokemon {
  width: 100%;
  background-image: url(../img/pokemon-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.header-home {
  display: grid;
  justify-content: center;
  align-items: center;
}

.main-home {
  width: 100%;
  /*height: */
  display: grid;
  justify-content: center;
  align-items: center;
}

.intro-text {
  font-family: Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-weight: 600;
  color: #471f1f;
  background-color: #ffdbac;
}

@media screen and (min-height: 300px) and (orientation: portrait) {
  .container-pokemon {
    background-position: -940px top;
  }
  .logo-onpokemon {
    width: 337px;
    height: 40px;
    padding: 10px 0px;
  }
  .pokedex-close {
    width: 160px;
    height: 230px;
    margin-left: 45vw;
    padding: 30px 0px;
  }

  .intro-text {
    font-size: 1.125rem;
    padding: 20px 4%;
  }
}

@media screen and (min-height: 960px) and (orientation: portrait) {
  .container-pokemon {
    background-position: -640px top;
  }
  .logo-onpokemon {
    width: 406px;
    height: 50px;
    padding: 30px 0px;
  }
  .pokedex-close {
    width: 244px;
    height: 349px;
    margin-left: 300px;
    margin-top: 200px;
  }
  .intro-text {
    font-size: 1.6rem;
    padding: 20px 6%;
  }
}

@media screen and (min-height: 360px) and (orientation: landscape) {
  .container-pokemon {
    background-position: center top;
  }
  .logo-onpokemon {
    width: 337px;
    height: 40px;
    padding: 10px 0px;
  }
  .pokedex-close {
    width: 91px;
    height: 131px;
    margin: 0 auto;
    margin-bottom: 2vh;
  }
  .intro-text {
    font-size: 1rem;
    padding: 10px 4%;
  }
}

@media screen and (min-height: 600px) and (orientation: landscape) {
  .container-pokemon {
    background-position: center top;
  }
  .logo-onpokemon {
    width: 406px;
    height: 50px;
    padding: 20px 0px;
  }
  .pokedex-close {
    width: 160px;
    height: 230px;
    margin: 0 auto;
    margin-bottom: 3vh;
  }
  .intro-text {
    font-size: 1.5rem;
    padding: 20px 6%;
  }
}

@media screen and (min-height: 720px) and (orientation: landscape) {
  .container-general {
    margin: auto auto;
  }
  .container-pokemon {
    background-position: center top;
  }
  .logo-onpokemon {
    width: 406px;
    height: 50px;
    padding: 30px 0px;
  }
  .pokedex-close {
    width: 244px;
    height: 349px;
    margin: 0 auto;
    margin-bottom: 3vh;
  }
  .intro-text {
    font-size: 1.6rem;
    padding: 20px 6%;
  }
}
