@charset "utf-8";

@media screen and (min-height: 300px) and (max-height: 599px) and (orientation: landscape) {
  .container-pokemon {
    background-position: center top;
  }
  .logo-onpokemon {
    width: 337px;
    height: 40px;
    padding: 10px 0px;
  }
  .pokedex-close {
    width: 91px;
    height: 131px;
    margin: 0 auto;
    margin-bottom: 2vh;
  }
  .intro-text {
    font-size: 1rem;
    padding: 10px 4%;
  }
  .details-info > .tab-title {
    font-size: 0.75rem;
  }

  .container-general-filters {
    min-width: 640px;
  }
  .logo-onpokemon-filter {
    width: 224px;
    height: 27px;
    padding: 10px 0px;
  }
  .filter-title {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  .name-text {
    font-size: 1.2rem;
    padding-top: 20px;
  }
  .input-name {
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 25px;
  }

  .container-checkbox {
    grid-template-columns: 1fr 1fr;
  }
  .checkbox-name {
    font-size: 1.2rem;
    padding: 6px 0px;
    grid-template-columns: 110px repeat(2, 80px);
    grid-auto-flow: column;
  }
  .checkbox-title {
    font-size: 1rem;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .specify-type {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .specify-weaknesses {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .results-text {
    font-size: 1.5rem;
    padding-top: 20px;
  }
  .quantify-text {
    font-size: 1.2rem;
    padding-top: 30px;
  }
  .order-calculation {
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 25px;
  }
  .confirm-button {
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }
  .confirm-button:hover {
    width: 30px;
  }
  .back-button {
    width: 50px;
    height: 50px;
  }
  .back-button:hover:after {
    font-size: 1rem;
  }
}
