@charset "utf-8";
@import url("variables.css");

.details-info {
  width: 100%;
  background-color: var(--dark-brown);
}

.details-info > .tab-title {
  display: block;
  color: var(--beige);
  padding: 15px;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.details-info > .tab-text {
  background-color: var(--dark-brown);
  color: var(--beige);
  padding: 20px;
  line-height: 1.6;
  font-size: 1rem;
}

.tab-title::before {
  content: "+ MAIS ";
}

.details-info[open] .tab-title::before {
  content: "- MENOS ";
}
