@charset "utf-8";
@import url("color-pokemon.css");

:root {
  --background-green: #bfb63b;
  --black: #191c1f;
  --dark-brown: #471f1f;
  --medium-brown: #713e03;
  --medium-beige: #e9a588;
  --beige: #ffdbac;

  --shadown-inner: inset 3px 3px 4px #763636;
  --shadown-drop-fort-fort: 12px 15px 15px #737373;
  --shadown-drop-fort: 6px 8px 8px #737373;
  --shadown-drop-medium: 6px 4px 4px #737373;
  --shadown-drop-weak: 3px 2px 2px #737373;

  --color-pokemon: var(--color-pokemon);
}
