* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #003563;
  font-family: 'Didact Gothic';
  color: white;
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100%;
}

header {
  display: flex;
  width: 98%;
  height: 30%;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 2%;
}

.list{
  display: inline-flex;
}

.content{
  list-style-type: none;
  margin: 2% 15%;
}

.imglogo{
  display: end;

}
.logo{
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: 15vh;
}

a {
  text-decoration: none;
  font-weight: normal;
  font-size: 2vmax;
}

a:visited {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  font-weight: bold;
}

main {
  display: flex;
  background-color: transparent;
  width: 60vw;
  height: auto;
  color: #003563;
  margin: auto;
  border-radius: 1%;
  background-color: #95bad7;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.pageAbout {
  background-color: #95bad7;
  border-radius: 1%;
  width: 60vw;
  max-height: 100%;
  margin: auto auto auto auto;
  padding-top: 1%;
  color: #003563;
  align-content: center;
  align-items: center;
  box-shadow: #003563 0 0 1em inset;
}

.headerAbout {
  width: 30vw;
  margin: auto;
  display: flex;
  padding-top: 2%;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1vmax;
}

.spirits {
  width: auto;
  max-width: 7vw;
  max-height: max-content;
}

.refletir {
  transform: rotateY(180deg);
}

.titleAbout {
  padding: 2%;
  font-size: 200%;
}

.about {
  text-align: center;
  color: #003563;
  font-size: 1.2vmax;
  margin: 0% 10% 1% 10%;
}

.totoro {
  display: flex;
  justify-content: flex-start;
  width: auto;
  max-width: 13vw;
  max-height: max-content;
}

@media screen and (max-width: 640px) {
  header {
    width: 100%;
    margin-bottom: 10%;
    justify-content: space-between;
  }

  .logo {
    width: auto;
    height: 10vh;
    margin-right: 10px;
  }

  .content {
    margin: 0% 10%;
    max-width: 30%;
  }

  .carac {
    margin: 0% 17% 0% 0%;

  }

  .poster{
    width: 70vw;
    height: 45vh;
  }

  main{
    height: 70vh;
    background-color: #95bad7;
  }

  .pageAbout{
    height: auto;
    width: auto;
    box-shadow: none;
  }
}

  hr {
    width: 100vw;
    height: 2vh;
    background-color: transparent;
  }

  footer {
    display: flex;
    background-color: #003563;
    text-align: center;
    font-size: 1.2vmax;
    justify-content: center;
    align-items: flex-end;
  }
