/* === MÉDIO ≥768px === */
@media (max-width: 767px) {
  .box-logo {
    width: 44vw;
  }
  .box-image img {
    width: 65vw;
  }
  .filters-container {
    flex-direction: row;
  }
  .filters-name {
    padding: 0.5em 1em;
  }
  .image-card {
    width: 12vw;
  }
}
@media;
