/* MAX VAI ATE O NUMERO E O MIN INICIA A PARTIR DO NUMERO */
/* === TABLET === */
@media screen and (min-width: 470px) and (max-width: 636px) {
  .image-card {
    width: 25vw;
  }
}
@media screen and (min-width: 637px) and (max-width: 800px){
  .image-card {
    width: 20vw;
  }
  .card-information{
    flex-direction: row;
  }
  .background-card{
    margin: 1em;
    height: 22em;
  }
}

/* === DESKTOP === */
<<<<<<< HEAD
@media (min-width: 1440px) {
  .filters-container {
    flex-direction: row;
    justify-content: center;
  }

  .options-menus {
    padding: 1em 5em;
  }

  footer .criadoras {
    font-size: large;
  }

  .icones {
    display: flex;
  }
=======
@media screen and (min-width: 637px) and (min-width: 1440px) {
  
>>>>>>> cba4282ba786e56b6d91d4873556937f5d760dd8
}
