* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}  
  
body {
    width: 100%;
    background-color:rgb(212, 171, 160);
}

body::before {
    content: " ";
    background: url(./image/bg-purple.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-size: 100%;
}

header {
    display: inline-flex;
    background-color:rgba(104, 44, 70, 0.761);
    width: 100%;
}

.menu {
    width: 100%;
    padding: 1rem;
    margin-left: 70%;    
    align-items: center;
    position: relative;
}
    
.lista {
    list-style: none;   
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
    
.links {
    text-decoration: none;
    color: white;
    font-size: 18px;   
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.logo-img {
    width: 30%;
    margin-left: 20px;
    position: absolute;
}

.primeira-linha { 
    margin-top: 35%;
    display: inline-flex;
}     

.segunda-linha { 
    margin-top: 2%;
    display: flex;
    justify-content: center;
}  

footer {
    font-size: 14px;
    width: 100%;
    bottom: 0px;
    height: 40px;
    text-align: center;
    background-color: rgb(49, 176, 204);
    color: rgb(255, 255, 255);
    border-top: 4px solid rgb(212, 217, 82);
    box-shadow: 0.4em 0.3em 0.3em 0.3em rgb(212, 217, 82);
    padding-top: 30px;
    margin-top: 30px;   
}
      
footer a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(104, 44, 70, 0.925);
}

@media screen and (max-width: 768px) {

    header {
      background-color:rgba(213, 172, 161, 0.705);
      height: 70px;
    }

    body {
       width: 100%;
       background-color:rgb(213, 172, 161);
    }

    body::before {
       content: " ";
       background: url(./image/bg\ responsivo.jpg) no-repeat;
       opacity: 0.5;  
       background-size: cover;
       position: fixed;
    }   

    .menu {
       width: 100%;
       margin-top: 10px;
       padding: 1rem;
       margin-left: 60%;    
       align-items: center;
       position: relative;
    }
       
    .lista {
       display: flex;
       justify-content: space-around;
       align-items: baseline;
    }
       
    .links {
       text-decoration: none;
       color: white;
       font-size: 10px;   
       font-weight: bold;
       font-family: 'Courier New', Courier, monospace;
    }

    .logo-img {
       width: 60%;
       margin-left: 10px;
    }

    .graficos {
       margin-top: 10%;
       background-color: rgba(255, 255, 255, 0.747);
       border: 5px solid rgb(212, 171, 160);
       border-radius: 9px;
       width: 345px;
       height: 600px;
       margin-left: 2.5%;
    }

    .primeira-linha { 
       margin-top: 5%;
       display: inline-flex;
       flex-direction: column;
       justify-content: space-evenly;
    }

    .segunda-linha { 
       display: flex;
       justify-items: center;
    }
}