*{  margin: 0;}    /* ZEREI MARGENS */

body{
    font-size: 1.0em;
    background-color: #DEEFE7;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.border{
  padding: 0px 50px;
  list-style: none;
}

/* NAVBAR */

.navbar {
  list-style:none;
  background-color: #159A9C;
  overflow: auto;
}

.navbar a {
  float: left;
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 15px;
  text-align: center;

}

.navbar a:hover {
  background-color: hsl(180, 34%, 50%);
}

.active {
  background-color: #159A9C;
}

.box{
  background-color:#1e2838;

}

.image-bg{
  width: 99%;
}


/* CONTAINER */

#container {
  padding: 20px 85px 20px 85px;

}

/* CARDS */

.image-card{
  width: 200px;
  height: 200px;
}

.p-card{
  font-size: 0.7em;
}
.p-name-card{
  font-size: 0.9em;
  padding-bottom: 3px;
  font-weight: 600;
}

.card-board{
  width: 90vw;
  margin: auto;
}

.cards{
  display: inline-table;
  padding: 5px;
  margin: 0 10px 20px 10px;
  background-color: white;
  height: 300px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .navbar a {
    float: none;
    display: block;
  }

  #demo{
    text-align: center;
  }

  #container {
    text-align: center;
  }

  .image {
    width: 20%;
  }
}
