  @import url(header.css);
  @import url(footer.css);

.titulo-pagina{
  color:#85d7e2;
  font-weight: bold;
  font-size: 40px; 
}
  
.descrição-pagina{ 
  font-size: 18px;
  color: #1b2738;
}
  

  
.container-filmes {
  margin: 0 auto;
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}
  
.filmes{
  display:flex;
  width:100%;
  background-color: white;
  box-shadow: 0px 0px 14px 4px rgba(243, 223, 132, 0.7); 
  padding:2rem;    
  box-sizing: border-box;   
  margin-bottom:3rem;    
  border-radius: 10px;     
}

li{
  display:flex;
  width:100%;
  background-color: white;
  box-shadow: 0px 0px 14px 4px rgba(243, 223, 132, 0.7); 
  padding:2rem;    
  box-sizing: border-box;   
  margin-bottom:3rem;    
  border-radius: 10px;     
  
}

img{
  justify-content: left;
}

#text{
  
  color:blue;
}