* {
    margin: 0;
    padding: 0;
    border: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .tittle-header-page-films {
        font-size: 40px;
    }
    footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .tittle-header-page-films {
        font-size: 50px;
    }
    footer {
        font-size: 1.5rem;
    }
}

body {
    background-image: url(./img/Chihiro.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Actor', sans-serif;
    display: flex;
}

.glass-effect-header {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    padding: 1%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.tittle-header-page-home {
    color: #168AAD;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px;
}

footer {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    border: 1px rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(1px);
    width: 100%;
    padding: 1%;
    height: 5vh;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

a {
    color: #184E77;
}

a:link {
    text-decoration: none;
}