@media (min-width: 375px) and (max-width: 425px) {
  #voltarAoTopo {
    right: -5px;
    padding: 1rem;
  }
  .image-top {
    width: 4.5rem;
  }
}

.imgBanner {
  display: flex;
  align-items: center;
  width: 60%;
}
