* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: #0398D2;
    font-family: 'Actor', sans-serif;
    color: #184E77;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    width: 100%;
}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked+.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked+.menu-btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu-toggle:checked+.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menu-box {
    left: 0;
}

.menu-btn {
    position: fixed;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 2;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
}

.menu-btn>span::after {
    content: '';
    top: 8px;
}

.menu-box {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -150%;
    width: auto;
    height: auto;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #8dc5dd;
    border-radius: 0 0 15px 0;
    box-shadow: 2px 2px 6px #ffffff;
    transition-duration: .25s;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: #184E77;
    font-size: 20px;
    text-decoration: none;
    transition-duration: .25s;
}

.menu-item:hover {
    background-color: #ffffff;
}

.tittle-header-page-news {
    text-align: center;
    font-size: 60px;
    color: #184E77;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px;
}

main {
    background: #69CCE3;
}

.dropbtn {
    background-color: #184E77;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    border-radius: 0 0 15px 0;
}

.dropdown {
    display: flex;
    justify-content: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 15px;
}

.dropdown-content a {
    color: #184E77;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #8dc5dd
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #8dc5dd;
}

.section-class-efect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    -webkit-backdrop-filter: blur(1px);
    width: 90%;
    display: inline;
    text-align: center;
}

.tittle-news-park,
.tittle-new-film {
    color: #184E77;
    margin: 2%;
}

.galery {
    width: 20vw;
    height: 40vh;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 3px 2px #ffffff;
    margin: auto;
}

.photos {
    display: flex;
}

.galery .photos {
    animation-name: animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galery .photos img {
    width: 20vw;
    height: 40vh;
}

.subtittle-news-park {
    margin: 0 4% 1% 4%;
}

.news-park,
.news-film {
    margin: 2% 6%;
}

p {
    text-indent: 2em;
    text-align: justify;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}

.curiosity {
    background: #69CCE3;
    border-radius: 15px;
    box-shadow: 0 0 3px 2px #ffffff;
    margin: 3% 30%;
}

.img-aside {
    width: 20vw;
    height: 40vh;
    border-radius: 15px;
    box-shadow: 0 0 3px 2px #ffffff;
    margin: 2%;
}

.img-new-film {
    border-radius: 15px;
    height: 50vh;
}

footer {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    border: 1px rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(1px);
    width: 100%;
    padding: 1%;
    text-align: center;
    bottom: 0;
    left: 0;
    margin-top: 2%;
    font-size: 1.5rem;
}

a {
    color: #184E77;
}

a:link {
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .menu {
        width: 8vw;
    }
    .menu-btn {
        top: 3%;
        left: 1%;
    }
    .tittle-header-page-news {
        font-size: 30px;
    }
    .img-logo {
        height: 8vh;
        width: 8vw;
    }
    .dropbtn {
        padding: 10px;
        font-size: 10px;
    }
    .tittle-news-park,
    .tittle-new-film,
    .subtittle-news-park {
        font-size: 10px;
        margin: 5%;
    }
    p {
        font-size: 12px;
    }
    footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .menu {
        width: 10vw;
    }
    .menu-btn {
        top: 5%;
        left: 1%;
    }
    .tittle-header-page-news {
        font-size: 40px;
    }
    .img-logo {
        height: 10vh;
        width: 10vw;
    }
    .dropbtn {
        padding: 10px;
        font-size: 10px;
    }
    footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .menu {
        width: 12vw;
    }
    .menu-btn {
        top: 6%;
        left: 3%;
    }
    .tittle-header-page-news {
        font-size: 60px;
    }
    .img-logo {
        height: 12vh;
        width: 12vw;
    }
    .dropbtn {
        padding: 10px;
        font-size: 10px;
    }
}

@media screen and (min-width: 992px) {
    .menu {
        width: 15vw;
    }
    .menu-btn {
        top: 7%;
        left: 3%;
    }
    .tittle-header-page-news {
        font-size: 80px;
    }
    .img-logo {
        height: 15vh;
        width: 15vw;
    }
    .dropbtn {
        padding: 10px;
        font-size: 10px;
    }
}