*{
  padding: 0;
  margin: 0;
  border: 0;
}

body{
  background-color: #003563;
  font-family: 'Didact Gothic';
  color: aliceblue;
}

.headerAbout{
  width: 100vw;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#spirits{
  height: 15vh;
}


.titleAbout{
  padding: 2%;
}

.about{
  text-align: center;
  color: aliceblue;
  font-size: 100%;
  margin: 1% 10% 10% 10%;
}

.totoro{
  display: flex;
  height: 20vh;
}
