* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #003563;
  font-family: 'Didact Gothic';
  color: white;
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100%;
}

header {
  display: flex;
  width: 98%;
  height: 30%;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.list{
  display: inline-flex;
}

.content{
  list-style-type: none;
  margin: 2% 15%;
}

.imglogo{
  display: end;

}
.logo{
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: 15vh;
}

a {
  text-decoration: none;
  font-weight: normal;
  font-size: 2vmax;
}

a:visited {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  font-weight: bold;
}

main {
  display: flex;
  background-color: #95bad7;
  color: #003563;
  margin: auto;
  background-color: #95bad7;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.filterCharacters{
  display: inline-flex;
  color: #003563;
  background-color: #95bad7;
  margin: 1vmax;
  border-radius: 0.5vmax;
  border: 0.1vmax solid #003563;
  border-color: #003563;
  height: 4vh;
  width: auto;
  font-size: 1vmax;
  text-align: center;
  box-shadow: inset 0 0 0.3em #003563
}

.inputCharacters{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cardsCharacters{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}
.card{
  height: 275px;
  width: 250px;
  box-shadow: #003563 0 0 1em;
  background-color: #003563;
  color: #95bad7;
  margin: 2% 5% 5% 2%;
  border-radius: 2%;
}

.flip-card{
  height: 275px;
  width: 250px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  position: relative;
  border-radius: 2%;
  align-content: center;
  align-items: center;
  text-align: center;
}

.flip-card:hover{
  transform: rotateY(180deg);
}

.frontCard, .backCard{
  backface-visibility: hidden;
  position: absolute;
  color: #95bad7;
  height: 275px;
  width: 250px;
}

.backCard {
  transform: rotateY(180deg);
  background-color: #003563;
  border-radius: 10px;
  color: #bcd0df;
  height: 275px;
  width: 250px;
  font-size: 1.4vh;
}

.characterPoster{
  height: 275px;
  width: 250px;
  border-radius: 2% ;
}

.nomePersonagem{
  margin-top: 5%;
  font-size: 2vh;
}

@media screen and (max-width: 640px) {
  header{
    width: 100%;
    justify-content: space-between;
  }

  .logo{
    width: 35vw;
    height: auto;
    margin-right: 10px;
  }

  .content{
    margin: 0% 10%;
    max-width: 30%;
  }

  .carac{
    margin: 0% 17% 0% 0%;
  }
}

body::-webkit-scrollbar{
  width: 12px;
}

body::-webkit-scrollbar-track{
  background-color: darkgray;
}

body::-webkit-scrollbar-thumb{
  background-color: #003563;
  border-radius: 20px;
  border: darkgray solid 1px;
}

hr {
  width: 100vw;
  height: 2vh;
  background-color: transparent;
}

footer {
  display: flex;
  background-color: #003563;
  text-align: center;
  font-size: 1.2vmax;
  justify-content: center;
}

