@media (max-width: 600px) {
  .mainpag1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .titlesite {
    font-size: 75%;
  }

  .imgBanner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
  }
  .btnhome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .infos {
    font-size: 75%;
  }

  nav {
    display: flex;
    flex-direction: column;
    font-size: 80%;
  }

  .filterspersonagens {
    display: flex;
    flex-direction:row;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 80%;
    margin: 25px;
  }

  .imgfiltros {
    display: none;
  }

  .voltarAoTopo {
    font-size: 70%;
    width: 20%;
    right: 4px;
    padding: 1rem;

  }
  .card {
    width: 70%;
  }
  .name-title {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .voltarAoTopo {
    right: 2%;
  }

}

@media (max-width: 809px) {

  nav {
    display: flex;
    flex-direction: column;
    font-size: 80%;
    width: 150px;
    height:100px;
    font-size: 113%
}
}
