#delete-margin{
    margin-top: 0px;
}

.description-film{
    display: grid;
    justify-items: center;
  }
  
  .h1-sinopse{
    font-weight: bolder;
    padding: 10px;
    text-align: center;
  }
  
  #sinopse{
    padding: 10px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  
  .info-film{
    padding-left: 10px;
    font-weight: bolder;
  }
  
  .text-film{
    background:rgba(0, 0, 0, 0.7);
    border: 2px solid #D9D271;
    color: #C1D9B0;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  #poster{
    padding-bottom: 10px;
  }
  
  .personagens {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  
  .character {
    background-color: #D9D271;
    border: 5px solid #123740;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 450px;
    margin-bottom: 15px;
  }
  
  .name {
    padding: 10px;
    font-size: 20px;
    background-color: #123740;
    border-radius: 3px 3px 0px 0px;
    font-weight: bolder;
    color: #C1D9B0;
  }
  
  .imgwrapper {
    min-height: 315px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .foto {
    border: 3px solid #C1D9B0;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 10px 5px 5px black;
    max-width: 200px;
    max-height: 290px;
  }
  
  .text-person {
    color: #123740;
    font-weight: bolder;
}

/* para tablet */
@media screen and (min-width: 768px) {
    .description-film{
      max-width: 768px;
      margin: 0 auto;
      display: grid;
      justify-items: center;
    }
  
    .text-film{
      margin-left: 30px;
      margin-right: 30px;
      font-size: 15px;
    }
  
    .info-film{
      font-size: 15px;
    }
  
    #poster{
      width: 35%;
    }
}

/* para desktop */
@media screen and (min-width: 1024px) {
    .description-film{
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
    }
  
    .text-film{
      font-size: 20px;
      margin: 0px;
    }
  
    .info-film{
      font-size: 15px;
    }
  
    #poster{
      min-height: 450px;
      padding-bottom: 0px;
    }
}