* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
  }

body {
    margin: 0;
    background-color: #fcfcfc
}

header {
    background-color: #716844;
    /* position: fixed;  // Tentei fixar o a header pra ela descer junto com a rolagem 
    left: 0;
    right: 0; */
}

audio {
    
}

.navegacao {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    font-size: 10px;
}

a {
    text-decoration: none;
}

main {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    margin: 80px 120px;
}

.introSG {
    display: flex;
    flex-direction: row;
}

.oQueEhSG {
    width: 70%;
    padding-right: 20px;
}

.dadosTecnicos {
    width: 30%;
    background-color: #2d2b46;
    color: #ffffff;
    padding: 80px 10px 20px 10px;
}

.historiaSG{
    
}

footer {
    background-color: #1a1c1d;
    height: 40px;
    color: #ffffff;
}