@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@300&family=Oxygen:wght@300&display=swap');

*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; 
  font-family: 'Lobster', cursive;
  font-family: 'Merriweather', serif;
  font-family: 'Oxygen', sans-serif;
}

header {
  background-color: #8FBDD3;
  height: 30%;
  width: 100%;
  display: flex;
  opacity: 80%;
}


.search-button{
  background-color:#434343
}
  
}
.header-logo {
  display: flex;
  width: 30%;
justify-content: flex-start;
}



#inputSearch{
  display: flex;
  float: center;
  margin:auto;
  background-color:#E0EEEE;
  font-size:15px;
  border-radius: 70px;
  border-color: transparent;
  height: 30px;
  width: 350px;

}

.select-typefilters, .refresh-button, .sort-by {
  /* float: center; */
  margin: auto;
  border-radius: 70px;
  background-color:#E0EEEE;
  border:solid 2px #369b9e;
  width:254px;
  height: 22px;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.cards {
  display: flex;
  width: 98%;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  grid-gap: 5em;
  padding: 2em;
  border:#369b9e;
}

.info-cards{
  max-width: 200px;
  font-size: 0.9em;
  text-align:center;
  padding:0.8em;
  color:rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  font: arial; color: #434343;
  border-radius:16px ; 
  background-color: #FFCE45;
  flex-direction: column;
} 

.img-card{
width: 100%;
background-image: url(image/bg-card.png);
}

#num {
text-align: center;
font-weight: bold;
border-radius: 0.3rem;
background-color: white;
display: flex;
font-size: 2%px;
width: 40px;
height: 40px;
border-radius: 50%;
align-items: center;
justify-content: center;
z-index: 0;
margin-left: 30px;
box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

.calculation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-color: #8FBDD3;
  opacity: 75%;
  color: blue;
  line-height: 8vh;
  width: 90vw;
  margin: 0.5em auto 0;
  line-height: 8vh;
  height: 8vh;
  border-radius: 20px;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

#type, #about, #name {
color: #424b54;
}

.title {
  font-weight: bold;
  border-bottom: 1px solid white;
  float:initial;
  color:rgb(117, 117, 117);
}

footer {
  margin: auto;
  background-color: #8FBDD3;
  color:#E0EEEE;
  padding: 5%;
  font-weight: bold;
 text-align: center;
 box-shadow: none;
}

a{
  text-decoration: none;
}

