* {
  background-color: #F2F2F1;
  margin:0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner-oficial {
  position: absolute;
}

.menu {
  padding-top: 3%;
  padding-left: 7%;
}

.item-menu {
  list-style: none;
  padding-left: 1%;
  display: inline;
  position: relative;
  background-color: transparent;
}

.links{
  text-decoration: none;
  color: #0d4b92;
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
}
.iconOrder{
  position: center;
  background: transparent;
}
.barraMenu{
  position:relative;
  background-color: #0d4b92;
  display: flex;
  align-content: space-around;
  justify-content: center;
  height: 3.125rem;
  margin-top: 322px;
  margin-left: 15%;
  margin-right: 15%;
}
.flexItem{
  height: 2rem;
  border-radius: 0.625rem
}
.ordering-country{
  margin-right: 23px;
  margin-left: 23px;
 
}
.btn{
  border:1px solid;
  border-radius:4px;
  background-color: #e5e9e9;
  display:inline-block;
  cursor:pointer;
  font-family:Verdana;
  font-weight:bold;
  font-size:10px;
  padding:6px 10px;
  text-decoration:none;
  width: 90px ;
}

.container-atletas{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-right: 14.5%;
  position: relative;
  margin-top: 9px;

}
.flex-item-atleta{
  width: 160px; 
  padding-bottom: 10px;
}
.cards-atletas{
  height: 100%;
  background-image: linear-gradient(to bottom, #21A556, #248F64, #297B6B, #364987);
  border: 1px solid black;
  border-radius: 4px;
  list-style: none;
  padding-left: 0;
}

.conteudo-atletas{
  background-color: transparent;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 8px;
  position: margin;

}
.rodapé{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 11%;
  padding-bottom: 1%;
}


@media (min-width: 320px) {
  
    .links {
      font-size: 150%;
    }
  
    .menu {
      padding-top: 2%;
    }
  
    .item-menu {
      padding-left: 15%;
    }
  
    .barraMenu {
      margin-top: 14.813rem;
      
    }
    .flex-item-atleta {
      width: 30%;
      padding-top: 2%;
    }
  
    .conteudo-atletas {
      font-size: 1.40rem;
      padding-top: 1.25rem;
    }
  
  }
  @media screen and (min-width: 768px){
    .item-menu {
      padding-left: 14%;
    }
  
    .links {
      font-size: 1.375rem;
    }
  
  }
  @media screen and (min-width: 1024px) {

    .item-menu {
      padding-left: 2%;
    }
  
    .links {
      font-size: 140%;
    }
  
    .barraMenu {
      margin-top: 25%;

    }
  
   .flex-item-atleta {
      width: 160px; 
      bottom: 10px
    
    }
  
    .conteudo-atletas {
      font-size: 1.3rem;
      padding-top: 1.25rem;
    }
  
  }