:root{
    --pokedex: #D63025;
    --cards: #C4C4C4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-areas: "h h" "b p" "f f";
    grid-column-gap: 10px;
}

.header-menu{
    background: white;
    grid-area: h;

}

.big-card{
    background: var(--cards);
    grid-area: b;
}

.pokedex{
    background: var(--pokedex);
    grid-area: p;
    overflow 
}

.filters{
    position: absolute;
    display: hidden; 
}
.baseboard{
    background-color: bisque;
    grid-area: f;
}

/* .container{
    position: absolute;
    display: grid;
    grid-template-columns: lfr lfr ;
    grid-template-rows: lfr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
} */

/* .card-pokemon{
    background: var(--cards);
    grid-column: ;
    grid-row: ;
    grid-area: ;

}

.img-pokemon{
    
}

.name-pokemon{

}

.num-pokemon{

}

.type-pokemon{

}

.card-pokemon{

} */

