:root{
    --pokedex: #D63025;
    --cards: #C4C4C4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 10vh 82vh 8vh;
    grid-template-areas: "h h" "b p" "f f";
    grid-column-gap: 10px;
}

.header-menu{
    background: white;
    grid-area: h;

}

.big-card{
    margin-left: 3%;
    margin-right: 1%;
    align-items: center;
    background: var(--cards);
    grid-area: b;
    overflow-y: auto;
}

.card-big {
  display: flex;
  flex-direction: row;
}

/*.paragraph-big {
  padding: 50px;
  background: rgb(68, 65, 65);
}*/

.margin{
    border-radius: 10px;
    margin-top: 4%;
}

.pokedex{
    margin-left: 1%;
    margin-right: 3%;
    background: var(--pokedex);
    grid-area: p;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.card-pokemon-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.card-pokemon{
    border-radius: 10px;
    margin: 5px;
    background: var(--cards);
    width: 170px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.paragraph-card{
    margin-top: 4px;
}

.baseboard{
    text-align: center;
    text-justify: center;
    background-color: black;
    grid-area: f;
}

/* .container{
    position: absolute;
    display: grid;
    grid-template-columns: lfr lfr ;
    grid-template-rows: lfr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
} */

/* .card-pokemon{
    background: var(--cards);
    grid-column: ;
    grid-row: ;
    grid-area: ;

}

.img-pokemon{

}

.name-pokemon{

}

.num-pokemon{

}

.type-pokemon{

}

.card-pokemon{

} */

