@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    box-sizing: border-box;
}

body {
   background-color:#F2F2F2;
}

.header {
    background-color:#F2F2F2;
}

.image-content {
    background-color:#F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.image-totoro {
    width: 10%;
}

.theme-ghibli {
    font-size: 60px;
    font-family: 'Open Sans', 'icones', sans-serif; 
    color: #283D59;
}

ul {
    display: flex;
    padding-top: 1%;
    padding-left: 1.5%;    
}

li {
    display: inline;
    font-size:larger;
    font-family: 'Open Sans', 'icones', sans-serif;   
    margin: 0 50px 0 0;
    color: #283D59;
}

li a {
    color: #283D59;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.main-content {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;     
}

.ghibli-about {
    padding-top: 1vw;
    font-family: 'Open Sans', 'icones', sans-serif;    
}

.ghibli-history {
    padding-top: 3vw;
    font-family: 'Open Sans', 'icones', sans-serif;
}


.linkedin {
    text-decoration: none;
    color: #0D0D0D;
    font-weight: bold;
}

.footer {
    font-family: 'Open Sans', 'icones', sans-serif;
    text-align: center;
    text-justify: center;
    background-color: #F2F2F2;
    color:#0D0D0D;
    padding-top: px;
    font-size: larger;   

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;    
}

@media screen and (max-width: 740px){
    body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    } 
}

@media screen and (max-width: 480px) {
    body {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    }     
}